.fragment {
    width: 175px;
    font-size: 14px;
    font-family: tahoma;
    height: 140px;
    border: 1px solid #ccc;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
}

.fragment:hover {
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);

}

.fragment h3 {
    padding: 0;
    margin: 0;
    color: #369;
}
.close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}

#alerts {
    float: right;
}

#universe {
    float: left;
}


.demo-content{
    padding: 10px;
    font-size: 16px;
    /*min-height: 300px;*/
    min-width: 100px;
    margin-bottom: 10px;
    vertical-align: middle;
    float: right;
}
.info {
    float: left;
}
.graphic {
    /*overflow: hidden;*/
    overflow: hidden;
    position: relative;
}
fieldset.tower-info{
    min-height: 300px;
    min-width: 100px;
}
legend {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    font-size: 1.2em !important;
    text-align: left !important;
}
fieldset {
    border: 4px solid #8f8f8f !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 1.5em 1.5em 1.5em 1.5em !important;
    -webkit-box-shadow:  0 0 0 0 #000;
    box-shadow:  0 0 0 0 #000;
}
fieldset.session {
    height: 200px;
}
.container-board {
    overflow-y: auto;
    min-width: 100%;
    height: 250px;
}
.session-container {
    overflow-y: auto;
    min-width: 100%;
    height: 150px;
}
.block {
    border:2px solid rgba(68, 68, 68, 0.75);
    width:100%;
    height: 35%;
    min-height: 90px;
    margin-top: 1%;
    padding: 10px;
}

.session-element {

    width: 100%;
    height: 100%;
    padding: 10px;
    margin-top: 1%;
}
td {
    padding: 6px;
}
span.underline {
    text-decoration: underline;
    color: #2b79ff;
}
path.call {
  stroke: #FFA319;
}
